.product {
	display: grid;
	padding: 30px;
	margin-top: 30px;
	grid-template-columns:
		[start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart]
		auto [priceend] 40px [creditstart] auto [creditend] 40px [ratestart] auto [end];
}

.logo {
	grid-column: start / logoend;
	grid-row: 1 / span 2;
}

.title,
.tags {
	grid-column: titlestart / middle;
}

.price,
.priceTitle {
	grid-column: pricestart / priceend;
}

.credit,
.creditTitle {
	grid-column: creditstart / creditend;
}

.rate,
.rateTitle {
	grid-column: ratestart / end;
}

.hr,
.description,
.actions {
	grid-column: start / end;
}

.features {
	grid-column: start / middle;
}

.logo img {
	border-radius: 5px;
}

.title {
	align-self: flex-end;
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}

.month {
	font-size: 14px;
	line-height: 19px;
}

.price {
	display: flex;
	align-items: center;
}

.oldPrice {
	margin-left: 5px;
}

.price,
.credit {
	align-self: flex-end;
	font-size: 20px;
	line-height: 27px;
}

.rate {
	align-self: flex-end;
}

.priceTitle,
.creditTitle,
.rateTitle {
	font-size: 14px;
	font-weight: 300;
	line-height: 19px;
}

.category {
	margin-top: 7px;
}

.reviewButton {
	margin-left: 20px;
}

.advBlock {
	font-size: 16px;
	grid-area: advBlock;
	grid-column: middle / end;
	line-height: 22px;
}

.advTitle {
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
}

.description {
	margin-bottom: 15px;
}

.advantages {
	padding-left: 15px;
	border-left: 2px solid #1DC37E;
	margin-bottom: 20px;
}

.disadvantages {
	padding-left: 15px;
	border-left: 2px solid var(--red);
}

.characteristic {
	display: grid;
	align-items: flex-end;
	padding-right: 60px;
	margin-bottom: 10px;
	font-size: 16px;
	gap: 10px;
	grid-template-columns: auto 1fr auto;
	line-height: 22px;
}

.characteristicName {
	font-weight: 700;
}

.characteristicValue {
	font-weight: 500;
}

.characteristicDots {
	border-bottom: 1px dashed var(--gray-light);
}

.reviews {
	overflow: hidden;
	padding: 30px;
}

.rateTitle a {
	color: var(--primary);
}

@media (max-width: 1320px) {
	.product {
		grid-template-areas:
			"logo . title title title title title"
			"logo . tags tags tags tags tags" "price price price . credit . rate"
			"priceTitle priceTitle priceTitle . creditTitle . rateTitle"
			"hr hr hr hr hr hr hr" "description description description description description description description"
			"features features features features features features features"
			"advBlock advBlock advBlock advBlock advBlock advBlock advBlock"
			"hr2 hr2 hr2 hr2 hr2 hr2 hr2" "actions actions actions actions actions actions actions";
		grid-template-columns: 70px 30px auto 40px auto 40px 1fr;
	}

	.title {
		grid-area: title;
	}

	.logo {
		margin-bottom: 20px;
		grid-area: logo;
	}

	.tags {
		grid-area: tags;
	}

	.price {
		grid-area: price;
	}

	.credit {
		grid-area: credit;
	}

	.rate {
		grid-area: rate;
	}

	.priceTitle {
		grid-area: priceTitle;
	}

	.creditTitle {
		grid-area: creditTitle;
	}

	.rateTitle {
		grid-area: rateTitle;
	}

	.hr {
		grid-area: hr;
	}

	.h2 {
		grid-area: hr2;
	}

	.description {
		grid-area: description;
	}

	.features {
		margin-bottom: 20px;
		grid-area: features;
	}

	.actions {
		grid-area: actions;
	}
}

@media (max-width: 640px) {
	.product {
		grid-template-areas:
			"logo . title" "logo . tags" "priceTitle priceTitle price" "creditTitle  creditTitle credit"
			"rateTitle rateTitle rate" "hr hr hr" "description description description"
			"features features features"
			"advBlock advBlock advBlock" "hr2 hr2 hr2" "actions actions actions";
		grid-template-columns: 70px 30px 1fr;
	}

	.price,
	.credit,
	.rate,
	.tags {
		margin-bottom: 10px;
	}
}

@media (max-width: 480px) {
	.product {
		grid-template-areas:
			"logo" "title" "tags" "price" "priceTitle"
			"credit" "creditTitle" "rate" "rateTitle" "hr" "description" "features" "advBlock" "hr2" "actions";
		grid-template-columns: 1fr;
	}
}
