.sortIcon {
	display: none;
	cursor: pointer;
}

.active .sortIcon {
	display: block;
	cursor: pointer;
}

.active {
	color: var(--primary);
	font-weight: bold;
}

.sort {
	display: inline-block;
	display: grid;
	cursor: pointer;
	gap: 40px;
	grid-template-columns: auto auto;
}

.sort button {
	display: grid;
	align-items: center;
	border: none;
	background: none;
	font-size: 16px;
	gap: 8px;
	grid-template-columns: 20px 1fr;
	line-height: 22px;
}

.sortName {
	display: none;
}

.sort button:not(.active) {
	grid-template-columns: 1fr;
}
